
<img src="https://i.ibb.co/K6D800z/Client-Bird-3.png">
<div class="container">
  <h2 class="bold">Communication between contractors and clients,</h2>
  <h2 class="light">made easy.</h2>
  <p>We're letting tomorrow's ideas take flight to become today's project with seamless collaboration between contractors & their clients. Happy flying!</p>
  <form action="/email" method="POST"><input name="email" placeholder="youremail@email.com" /><button type="submit">Stay Updated</button></form>
</div>
<div style="position: absolute; bottom: 1rem; width: 100%; color: white; text-align: center;">
  <h1>{{yay}}</h1>
</div>
